.footer {
  padding-top: 37px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 123px 0 28px;
  }
}

.footer__conteiner {
  @media (min-width: $desktop-width) {
    padding: 0 120px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1440px;
    margin: 0 auto;
  }
}

.footer__logo {
  display: block;
  margin: 0 auto 19px;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-right: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 136px;
  }
}

.footer__nav {
  border-top: 1px solid rgba($color-basic, 0.2);
  margin-top: 19px;
  padding-top: 23px;

  @media (min-width: $tablet-width) {
    padding: 34px 45px;
    margin-top: 39px;
  }

  @media (min-width: $desktop-width) {
    border-top: 2px solid rgba($color-basic, 0.2);
    padding: 40px 120px 31px 149px;
    margin-top: 53px;
  }
}

.footer__nav-conteiner {
  @media (min-width: $tablet-width) {
    display: flex;
    width: 768px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 1171px;
  }
}

.footer__tel {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    color: $color-basic;
    margin-top: 14px;
    margin-left: auto;
  }
}

.footer__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  gap: 7px 20px;
  margin-bottom: 19px;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    margin: 0;
    gap: 12px;
    align-self: center;
  }

  @media (min-width: $desktop-width) {
    gap: 19px;
  }
}

.footer__link {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: $color-basic;
  letter-spacing: 0;
  text-transform: none;
  border: 1px solid transparent;
  padding: 3px 5px;

  @media (min-width: $tablet-width) {
    letter-spacing: 0;
  }

  @media (min-width: $desktop-width) {
    font-weight: 400;
    letter-spacing: 0;
    text-transform: none;
    font-size: 16px;
    line-height: 16px;
    display: block;
    margin-top: 1px;
  }

  &:hover {
    border-bottom: 1px solid $color-basic;
  }

  &:focus-visible {
    border: 1px solid $color-basic;
    outline: none;
  }

  &:active {
    color: $button;
    border: 1px solid transparent;
  }

  &--disabled {
    color: $color-disabled;
    pointer-events: none;
  }
}
