.form {
  color: $color-white;
  text-align: center;

  margin-top: 3px;
  padding: 177px 31px 174px;

  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image:
    image-set(url("../../img/form/form-mobil.webp") 1x type("image/webp"),
    url("../../img/form/form-mobil@2x.webp") 2x type("image/webp"),
    url("../../img/form/form-mobil.jpg") 1x type("image/jpeg"),
    url("../../img/form/form-mobil@2x.jpg") 2x type("image/jpeg"));

  @media (min-width: $tablet-width) {
    padding: 186px 31px 183px;
    background-image:
      image-set(url("../../img/form/form-tablet.webp") type("image/webp") 1x,
      url("../../img/form/form-tablet@2x.webp") type("image/webp") 2x,
      url("../../img/form/form-tablet.jpg") type("image/jpeg") 1x,
      url("../../img/form/form-tablet@2x.jpg") type("image/jpeg") 2x);
  }

  @media (min-width: $desktop-width) {
    padding: 296px 31px 292px;
    background-image:
      image-set(url("../../img/form/form-desktop.webp") type("image/webp") 1x,
      url("../../img/form/form-desktop@2x.webp") type("image/webp") 2x,
      url("../../img/form/form-desktop.jpg") type("image/jpeg") 1x,
      url("../../img/form/form-desktop@2x.jpg") type("image/jpeg") 2x);
  }


  h2 {
    font-family: $font-800;
    font-size: 22px;
    font-weight: 800;
    line-height: 22px;
    margin: 0 0 17px;
    padding: 0;

    @media (min-width: $tablet-width) {
      font-size: 25px;
      line-height: 25px;
      margin: 0 0 23px;
    }

    @media (min-width: $desktop-width) {
      font-size: 35px;
      line-height: 100%;
      margin: 0 0 18px;
    }
  }

  p {
    font-size: 12px;
    line-height: 18px;
    margin: 0 0 20px;
    padding: 0;

    @media (min-width: $tablet-width) {
      font-size: 16px;
      line-height: 24px;
      padding: 0 180px;
      margin: 0 0 24px;
    }

    @media (min-width: $desktop-width) {
      margin: 0 0 38px;
    }
  }
}

.form__container {
  position: relative;
}

.form p > br {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.form__form {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
}

.form__input {
  width: 258px;
  padding: 15px 15px 17px;
  margin-bottom: 8px;
  border-radius: 2px;
  border: 1px solid rgba($border, 0.1);

  @media (min-width: $tablet-width) {
    width: 360px;
    padding: 20px 30px 18px;
    margin-bottom: 11px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }

  &:hover {
    border-color: $border;
  }

  &:focus {
    border-color: $color-basic;
    outline: none;

    &::placeholder {
      color: $color-placeholder;
    }
  }

  &:disabled {
    background-color: $bg-color;
    border-color: $color-disabled;
    pointer-events: none;
  }
}

.form__input::placeholder {
  display: none;
  color: transparent;
}

.form__label {
  position: absolute;
  z-index: 5;
  color: $color-basic;
  font-size: 16px;
  line-height: 16px;
  opacity: 0.5;
  top: 50%;
  left: 50%;
  transform: translate(-114px, -11px);

  @media (min-width: $tablet-width) {
    transform: translate(-150px, -14px);
  }

  @media (min-width: $desktop-width) {
    transform: translate(-150px, -8px);
  }
}

input:focus + label,
input:not(:placeholder-shown) + label {
  display: none;
}


.form__input:focus + label,
.form__input:required:valid + label {
  display: none;
}

.form__label:focus + label,
.form__label:required:valid + label {
  display: none;
}


.form__button {
  margin: 0 auto;
  width: 258px;
  padding: 21px 20px 19px;

  @media (min-width: $tablet-width) {
    width: 360px;
    padding: 20px 20px 19px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    width: 180px;
  }
}

.form__input--error {
  border: 1px solid $color-error;
}
