.hero__img {
  width: 100%;
  display: block;
}

.hero__img-content {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
}

.hero__swiper {
  display: block;
}

.hero__slide {
  background-color: $bg-header;
  text-align: center;
  position: relative;
  padding: 145px 15px 39px;

  @media (min-width: $tablet-width) {
    padding: 342px 78px 270px;

    &--card {
      padding: 137px 78px 197px;
    }
  }

  h3 {
    font-family: $font-800;
    font-size: 26px;
    font-weight: 800;
    line-height: 26px;
    color: $color-white;
    margin: 0 0 15px;

    @media (min-width: $tablet-width) {
      font-size: 56px;
      line-height: 56px;
      margin: 0 0 13px;
    }

    @media (min-width: $desktop-width) {
      font-size: 77px;
      line-height: 77px;
      text-align: left;
    }
  }

  p {
    font-family: $font-400;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color: $color-white;
    margin: 0 0 59px;

    @media (min-width: $tablet-width) {
      font-size: 17px;
      line-height: 24px;
      margin: 0 0 37px;
      padding: 0 70px;
    }

    @media (min-width: $desktop-width) {
      text-align: left;
    }
  }
}

.hero__button {
  padding: 20px 20px 18px;
  width: 180px;
  margin: 0 auto 76px;
}

.hero__info {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.hero__pagination-wrapper {
  position: absolute;
  left: calc(50% - 48px);
  bottom: 40px;
  z-index: 1;

  @media (min-width: $tablet-width) {
    left: calc(50% - 54px);
  }
}

.hero__img-card-wrapper {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    margin: -31px auto 0;
    width: 442px;
  }
}

.hero__img-card-1 {
  @media (min-width: $tablet-width) {
    width: 266px;
    height: 351px;
  }

  @media (min-width: $desktop-width) {
    width: 308px;
    height: 407px;
  }
}


.hero__img-card-2 {
  @media (min-width: $tablet-width) {
    width: 236px;
    height: 312px;
    margin-left: -60px;
    margin-top: 53px;
  }

  @media (min-width: $desktop-width) {
    width: 277px;
    height: 366px;
  }
}

.hero__pagination {
  display: flex;
  gap: 12px;
  justify-content: center;
}
