.menu__burger {
  display: block;
  width: 26px;
  height: 26px;
  mask-image: url("/__spritemap#sprite-menu-view");
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: #ffffff;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.menu__burger-checkbox:checked + .menu__burger {
  mask-image: url("/__spritemap#sprite-cross-view");

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.menu-list {
  top: 85px;
  left: 0;
  position: absolute;
  padding: 26px 9px 32px;
  margin: 0;
  background: $bg-header;
  list-style: none;
  display: none;
  width: 100%;
  z-index: 2;

  @media (min-width: $tablet-width) {
    top: 81px;
    padding: 28px 39px 46px;
  }

  @media (min-width: $desktop-width) {
    position: static;
    display: flex;
    gap: 19px;
    padding: 0;
  }
}

.menu-item {
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.menu__burger-checkbox:checked ~ .menu-list {
  display: block;

  @media (min-width: $desktop-width) {
    display: flex;
  }
}
