.menu__burger {
  display: block;
  width: 26px;
  height: 26px;
  mask-image: url("/__spritemap#sprite-menu-view");
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: #ffffff;
}

.menu__burger-checkbox:checked + .menu__burger {
  mask-image: url("/__spritemap#sprite-cross-view");
}

.menu-list {
  top: 85px;
  left: 0;
  position: absolute;
  display: block;
  padding: 26px 15px 32px;
  margin: 0;
  background: $bg-header;
  list-style: none;
  transform: translateX(-100%);
  transition: 0.3s;
  width: 100%;
}

.menu-item {
  margin-bottom: 14px;
}

.menu__burger-checkbox:checked ~ .menu-list {
  transform: translateX(0);
}
