.reviews {
  position: relative;
  padding: 37px 5px 0;

  @media (min-width: $tablet-width) {
    padding: 34px 30px 25px;
    padding-right: 0;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    margin: 0 auto;
    padding: 125px 0 69px 110px;
  }
}

.reviews__wrapper {
  list-style: none;
  margin: 0;
  padding: 0;
}

.reviews__slide.swiper-slide {
  @media (min-width: $tablet-width) {
    width: 595px;
  }

  @media (min-width: $desktop-width) {
    width: 738px;
  }
}

.reviews__shadow {
  box-shadow: 0 0 20px 0 rgba($reviews-shadow, 0.1);
  padding: 20px;
  padding-bottom: 16px;
  margin: 10px 10px 12px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 186px 1fr;
    column-gap: 30px;
    margin: 15px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 258px 1fr;
    margin: 18px 18px 18px 20px;
    padding-right: 40px;
  }
}

.reviews__title {
  margin: 0 0 21px 10px;

  @media (min-width: $tablet-width) {
    margin: 25px 15px 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 20px 10px;
  }
}

.reviews__img {
  margin-bottom: 19px;
  display: block;

  @media (min-width: $tablet-width) {
    width: 186px;
    height: 237px;
    margin-bottom: 4px;
  }

  @media (min-width: $desktop-width) {
    width: 258px;
    height: 253px;
  }
}

.reviews__content {
  p {
    font-size: 12px;
    line-height: 18px;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;

    @media (min-width: $tablet-width) {
      margin-top: 4px;
    }

    @media (min-width: $desktop-width) {
      font-size: 14px;
      line-height: 22px;
      margin-top: -2px;
      margin-bottom: 12px;
    }
  }

  h3 {
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
    margin: 0;
    padding: 0;
    margin-top: 16px;
    margin-bottom: 2px;

    @media (min-width: $tablet-width) {
      font-size: 13px;
      line-height: 13px;
      margin-top: 26px;
      margin-bottom: 0;
    }

    @media (min-width: $desktop-width) {
      margin-top: -8px;
      margin-bottom: 2px;
    }
  }

  small {
    font-size: 12px;
    font-weight: 300;
    line-height: 12px;
    margin: 0;
    padding: 0;
  }
}

.reviews__button-wrap {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    gap: 4px;
    position: absolute;
    right: 45px;
    top: 59px;
  }

  @media (min-width: $desktop-width) {
    right: 120px;
    top: 145px;
  }
}

.reviews__button-next {
  transform: scaleX(-1);
}

.reviews__title[data-shadow]::after {
  @media (min-width: $desktop-width) {
    top: -40px;
    left: 20px;
  }
}
