.site-list {
  list-style: none;
  margin: 0;
  flex-wrap: wrap;
}

.site-list__link {
  font-family: $font-700;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  color: $color-white;
  letter-spacing: 0.56px;
  text-transform: uppercase;
  border: 1px solid transparent;
  padding: 3px 5px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.64px;
  }

  @media (min-width: $desktop-width) {
    font-family: $font-400;
    font-weight: 400;
    letter-spacing: 0;
    text-transform: none;
  }

  &:hover {
    border-bottom: 1px solid $color-white;
  }

  &:focus {
    border: 1px solid $color-white;
    outline: none;
  }

  &:active {
    color: $button-extra;
    border: 1px solid transparent;
  }

  &--disabled {
    color: $color-disabled;
    pointer-events: none;
  }
}
