.social {
  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
  }
}

.social__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    margin-bottom: 28px;
  }

  @media (min-width: $desktop-width) {
    gap: 13px;
    margin-bottom: 16px;
  }
}

.social__item {
  width: 32px;
  height: 30px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__link {
  border: 1px solid rgba($icon-basic, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 15px;
  color: $icon-basic;

  &:hover {
    border-color: $color-basic;
  }

  &:focus-visible {
    border-color: transparent;
    outline: none;
  }

  &:active {
    color: $icon-dark-bg;
    background-color: $icon-two;
    border-color: transparent;
  }
}

.social__link-vk {
  position: absolute;
  top: 11px;
  left: 7px;
  width: 18px;
  height: 9px;
}

.social__link-ok {
  position: absolute;
  top: 7px;
  left: 10px;
  width: 11px;
  height: 16px;
}

.social__link-reddit {
  position: absolute;
  top: 7px;
  left: 8px;
  width: 16px;
  height: 15px;
}

.social__policy {
  text-align: center;
}

.social__policy-link {
  font-size: 12px;
  font-weight: 300;
  line-height: 12px;
  color: $color-basic;

  &:hover {
    border-bottom: 1px solid $color-basic;
  }

  &:focus-visible {
    border: 1px solid $color-basic;
    outline: none;
  }

  &:active {
    color: $button;
    border: 1px solid transparent;
  }

  &--disabled {
    color: $color-disabled;
    pointer-events: none;
  }
}
