.swiper-pagination-bullet {
  background-color: transparent;
  width: 16px;
  height: 16px;
  border: 1px solid $color-white;
  opacity: 1;

  @media (min-width: $tablet-width) {
    width: 20px;
    height: 20px;
  }

  &:hover {
    background-color: #d9d9d9;
    border: 1px solid $color-white;
  }

  &:focus {
    background-color: transparent;
    border: 1px solid $color-white;
    outline: rgba($color-white, 0.5);
  }

  &:active {
    background-color: rgba($color-white, 0.5);
  }
}

.swiper-pagination-bullet-active {
  background-color: $color-white;
}

.swiper-button {
  width: 37px;
  height: 35px;
  border: 1px solid transparent;
  background-color: $button;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: calc(50% - 5px);
    left: calc(50% - 8px);
    width: 14px;
    height: 9px;
    mask-image: url("/__spritemap#sprite-arrow-view");
    background-color: $color-white;
  }

  &:hover {
    border: 1px solid $button-extra;
    background-color: $color-white;

    &::after {
      background-color: $button-extra;
    }
  }

  &:focus-visible {
    border: 1px solid transparent;
    background-color: $color-white;
    outline: none;

    &::after {
      background-color: $button-extra;
    }
  }

  &:active {
    outline: none;
    background-color: $button-extra;

    &::after {
      background-color: $color-white;
    }
  }
}

.swiper__button-next {
  transform: scaleX(-1);
}

.swiper-button-disabled,
.swiper-button-disabled:hover,
.swiper-button-disabled:focus,
.swiper-button-disabled:active {
  background-color: $color-disabled;
  border-color: $color-disabled;

  &::after {
    background-color: $color-white;
  }
}
