.tel__link {
  font-family: $font-600;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  color: $color-basic;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 18px;
  }

  &:hover {
    opacity: 50%;
  }

  &:focus {
    color: $color-basic;
    outline: none;
  }

  &:active {
    color: $button-extra;
    border: 1px solid transparent;
  }

  &--disabled {
    color: $color-disabled;
    pointer-events: none;
  }
}
