.training {
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-bottom: 40px;
  }

  p {
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    padding: 0;
    margin-bottom: 29px;

    @media (min-width: $tablet-width) {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 30px;
    }

    @media (min-width: $desktop-width) {
      margin-right: 335px;
      margin-bottom: 62px;
    }
  }
}

.training__title {
  margin: 17px 0 33px;

  @media (min-width: $tablet-width) {
    margin: 19px 0 34px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 32px;
  }
}


.training__instructors {
  font-family: $font-800;
  font-size: 22px;
  font-weight: 800;
  line-height: 22px;
  margin: 0;
  padding: 0;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 37px;
  }

  @media (min-width: $desktop-width) {
    font-size: 35px;
    line-height: 35px;
    margin-bottom: 16px;
  }
}

.training__swiper {
  width: 290px;

  @media (min-width: $tablet-width) {
    width: 678px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}

.training__button-wrap {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    gap: 4px;
    position: absolute;
    right: 45px;
    top: 197px;
  }

  @media (min-width: $desktop-width) {
    right: 120px;
    top: 212px;
  }
}

.training__slide {
  border: 1px solid rgba($border, 0.1);
  padding: 14px;
  background-color: $bg-color;

  @media (min-width: $tablet-width) {
    min-height: 388px;
  }

  @media (min-width: $desktop-width) {
    min-height: 356px;
  }

  p {
    font-size: 12px;
    line-height: 16px;
    margin: 0;
    padding: 0;
  }
}

.training__img {
  display: block;
  width: 260px;
  height: 200px;
  object-fit: cover;
}


.training__wrapper {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 290px;

  @media (min-width: $tablet-width) {
    width: 678px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}

.training__content {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  margin-bottom: 14px;

  h3 {
    font-family: $font-700;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    margin: 0;
    padding: 0;
    width: 180px;
  }
}

.training__vk-link {
  border: 1px solid rgba(45, 56, 63, 0.1);
  width: 24px;
  height: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $icon-basic;

  &:hover {
    border-color: $color-basic;
  }

  &:focus-visible {
    border-color: transparent;
    outline: none;
  }

  &:active {
    color: $icon-dark-bg;
    background-color: $icon-two;
    border-color: transparent;
  }

  @media (min-width: $tablet-width) {
    width: 26px;
  }

  @media (min-width: $desktop-width) {
    width: 24px;
  }
}

.training__vk-link-disabled {
  color: rgba($color-basic, 0.3);
  border-color: rgba($color-basic, 0.3);
  pointer-events: none;
}

.training__icon {
  width: 16px;
  height: 9px;
}
